<section class="contact-item-container grid_row">
  <header class="grid_item"><h1 class="contact-name">
    {{contactItem.firstname | uppercase }}
  {{contactItem.lastname | slice: 0:10 | uppercase}}</h1></header>
<div class="contact-details grid_item">
  <h3>Relationship</h3>
  <p [ngClass]="{'friend': contactItem.relationship === 'friend',
'family': contactItem.relationship === 'family'}">{{contactItem.relationship}}</p>
  <h3>Birthday</h3>

  <p>{{contactItem.birthday.month}},
    {{contactItem.birthday.day}},
  {{ contactItem.birthday.year}}</p>

  <div>
    <h3>Address</h3>
    <p>{{contactItem.addr.street}}</p>
    <p>{{contactItem.addr.city}},
      {{contactItem.addr.state}},
      {{contactItem.addr.zipcode}}</p>
  </div>
</div>
  <div class="contact-phone-email grid_item">
    <h3>Phone</h3>
    <p><span>Home</span>{{contactItem.phone.home}}</p>
    <p><span>Mobile</span>: {{contactItem.phone.mobile}}</p>
    <p><span>Work</span>: {{contactItem.phone.work}}</p>
    <h3>Email</h3>
    <p><span>Home</span>: {{contactItem.mail.primary}}</p>
    <p *ngIf="contactItem.mail.secondary">
      <span>Work</span>: {{contactItem.mail.secondary}}</p>
  </div>
  <div class="tools grid_item">
    <h3>Tools</h3>
    <ul>
      <li class="delete"><a (click)="onDelete()" >Delete</a></li>
      <li class="edit"><a (click)="onEdit()">Edit</a></li>
    </ul>
  </div>
</section>
