<section id="formSection">
  <form
    [formGroup]="form"
  (ngSubmit)="onSubmit(form.value)">
    <div class="grid_row">
      <div class="grid_item">
        <h3>Contact Name</h3>
        <p class="firsname">
          <label>First Name:</label><br>
          <input type="text" name="fname" id="fname" formControlName="fname">
        </p>
        <p *ngIf="form.controls.fname.errors?.pattern" class="errors">
          Invalid Name Format</p>
        <p class="lastname">
          <label for="lname">Last Name:</label><br>
          <input type="text" name="lname" id="lname" formControlName="lname">
        </p>
        <p *ngIf="form.controls.lname.errors?.pattern" class="errors">
          Invalid Name Format</p>
        <p>
        <h3>Relationship</h3>
        <input type="radio" id="friend" name="relationship" value="friend" formControlName="relationship"><label>Friend</label>
        <input type="radio" id="family" name="relationship" value="family" formControlName="relationship"><label>Family</label>
      </div>
      <div class="grid_item">
        <h3>Birthday</h3>
        <p class="bDay"><label>Month</label><br>
          <select name="month" id="month" formControlName="month">
            <option *ngFor="let month of monthsList.months" value="{{month}}">{{month}}</option>
          </select>
        </p>
        <p class="bDay"><label>Day</label><br>
          <select name="day" id="day" formControlName="day">
            <option *ngFor="let day of daysList.days" value="{{day}}">{{ day }}</option>
          </select></p>
        <p class="bDay"><label>Year</label><br>
          <select name="year" id="year" formControlName="year">
            <option *ngFor="let year of yearsList.years" value="{{year}}">{{ year }}</option>
          </select></p>
      </div>
      <div class="grid_item">
        <h3>Address</h3>
        <p>
          <label>Street:</label><br>
          <input type="text" name="street" id="street" formControlName="street">
        </p>
        <p><label>city:</label><br>
          <input type="text" id="city" name="city" formControlName="city">
        </p>
        <p><label>State:</label><br>
          <select name="state" id="state" formControlName="state">
            <option *ngFor="let state of states">{{ state.name }}</option>
          </select>
        </p>
      </div>
      <div  class="grid_item" id="phone">
        <h3>Phone</h3>
        <p class="homePhone">
          <label>Home:</label><br>
          <input type="text" id="hmPhone" name="hmPhone" formControlName="hmPhone">
        </p>
        <p *ngIf="form.controls.hmPhone.errors?.pattern" class="errors">
          Invalid Phone Format</p>
        <p class="workPhone"><label>Work</label><br>
          <input type="text" id="wkPhone" name="wkPhone" formControlName="wkPhone"></p>
        <p *ngIf="form.controls.wkPhone.errors?.pattern" class="errors">
          Invalid Phone Format</p>
      </div>
      <div class="grid_item">
        <h3>Email</h3>
        <p>
          <label>Primary</label><br>
          <input type="email" name="email1" id="email1" formControlName="email1">
        </p>
        <p>
          <label>Secondary</label><br>
          <input type="email" name="email2" id="email2" formControlName="email2">
        </p>
      </div>

    </div><!--End of Row and items -->
      <div id="btn-submit">
      <button type="submit" name="submit"
              id="submit" [disabled]="!form.valid">Add Contact</button>
    </div>
  </form>
</section>
