<section class="contact-item-container">
  <header><h1 class="contact-name">{{contactItem.firstname}}
  {{contactItem.lastname}}</h1></header>
<div class="contact-details">
  <h3>Relationship</h3>
  <p>{{contactItem.relationship}}</p>
  <h3>Birthday</h3>
  <p>{{contactItem.birthday}}</p>
  <h3>Andress:</h3>
  <p>{{contactItem.address.home.street}}</p>
  <p>{{contactItem.address.home.city}},
    {{contactItem.address.home.state}},
  {{contactItem.address.home.zipcode}}</p>
</div>
  <div class="contact-phone-email">
    <h3>Phone</h3>
    <p><span>Home</span>{{contactItem.phone.home}}</p>
    <p><span>Mobile</span>: {{contactItem.phone.mobile}}</p>
    <p><span>Work</span>: {{contactItem.phone.work}}</p>
    <h3>Email</h3>
    <p><span>Home</span>: {{contactItem.email.primary}}</p>
    <p><span>Work</span>: {{contactItem.email.secondary}}</p>
  </div>

</section>
