<header>
  <h3>Add Contact to List</h3>
</header>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div class="flex-container">
    <div id="contactName">
      <h3>Contact Name</h3>
      <ul>
        <li><label for="name">Name:</label></li>
        <li>
          <input type="text" id="name" name="name" formControlName="name" placeholder="Enter Name">
        </li>
        <li><label for="relationship">Relation</label><li>
        <li>
          <select name="relationship" id="relationship" formControlName="relationship">
            <option value="friend">Friend</option>
            <option value="family">Family</option>
            <option value="colleague">Colleague</option>
          </select>
        </li>
      </ul>
    </div>
    <div id="address">
      <h3>Address:</h3>
      <ul>
        <li><label for="street">Street:</label><li>
        <li>
          <input type="text" name="street" formControlName="street" id="street" value="">
        </li>
        <li><label for="city">City:</label></li>
        <li>
          <input type="text" name="city" formControlName="city" id="city" value="">
        </li>
        <li><label for="state">State:</label></li>
        <li>
          <input type="text" name="state" formControlName="state" id="state" value="">
        </li>
      </ul>
    </div>
    <div id="phone">
      <h3>Phone</h3>
      <ul>
        <li><label for="home-phone">Home:</label></li>
        <li>
          <input type="text" name="home-phone" formControlName="home-phone" id="home-phone">
        </li>
        <li><label for="work-phone">Work:</label></li>
        <li>
          <input type="text" name="work-phone" formControlName="work-phone" id="work-phone" value="">
        </li>
        <li><label for="mobile-phone">Mobile:</label></li>
        <li>
          <input type="text" name="mobile-phone" formControlName="mobile-phone" id="mobile-phone" value="">
        </li>
      </ul>
    </div>
    <div id="email">
      <h3>Email</h3>
      <ul>
        <li><label for="primary-email">Primary:</label></li>
        <li>
          <input type="text" name="primary-email" formControlName="primary-email" id="primary-email" value="">
        </li>
        <li><label for="secondary-email">Secondary:</label></li>
        <li>
          <input type="text" name="secondary-email" formControlName="secondary-email" id="secondary-email" value="">
        </li>
      </ul>
    </div>

  </div><!--End of flex-container-->
<div id="submit">
  <button type="submit" [disabled]="!form.valid">Submit</button>
</div>
</form>
