.contact-item-container{
  background-color: lightblue;
  border: 1px solid #369;
  border-radius: 8px;
  margin-bottom: 10px;
}
.contact-name{
  color: #19535D;
  font-size: 1.8em;
  margin-left: 10%;
}
.contact-details{
  color:#19535D;
  margin-left: 10%;
}
.contact-details h3{
  margin-bottom: 0%;
  font-size: 1.4em;
}
.contact-details p{
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
}

.contact-phone-email{
  color:#19535D;
  margin-left: 10%;
}

.contact-phone-email h3{
  margin-bottom: 2px;
  font-size: 1.4em;
}
.contact-phone-email p{
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.2em;
}
.contact-phone-email p span{
  font-weight: bold;
}

.tools{
  border: 1px solid darkslateblue;
  height:40px;
}
.tools ul{
  list-style-type: none;
}
.tools ul li{
  display: inline-block;
}
.tools a{
  cursor: pointer;
  border: 1px solid black;
  width:150px;
  height: 25px;
  font-weight:bold;
  margin-top: 10px;
}
.delete{
  background-color: red;
  margin-left:15px;
}

.edit{
  background-color: lightyellow;
  margin-left:15px;
}

