.contact-container{
  display: flex;
  flex-wrap: wrap;
  border: 2px solid mintcream;
  margin-bottom: 10px;
}

.flex-item{
  margin: 10px;
}
.family{
  color: orange;

}
.friend{
color: lightcoral;
}

